@charset "gb2312";
@media screen and (min-width: 1024px) and (max-width: 1199px) {
header{ width:96%; margin:auto}
}
@media screen and (min-width: 960px) and (max-width: 1023px) {
header,article{ width:96%; margin:auto}
.picbox ul{    width: 23%;}
.picshowlist{ display:none}
.tuijian,.guanzhu{ width:270px; }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
header,article{ width:96%; margin:auto}
.picbox ul{    width: 23%;}
.picshowlist{ display:none}
.pagelist a { padding: 2px 3px;}
}
 @media only screen and (min-width: 480px) and (max-width: 767px) {
header,article{ width:96%; margin:auto}
.logo{  width:100%;text-align:center}
nav{ width:100%}
nav li{ width:20%}
.l_box{ display:none}
.r_box,.infosbox,.picsbox{ width:100%}
.pagelist a { padding: 2px 3px;}
.picbox ul{    width: 22%;}
.picbox ul li i{ margin:5px}
.picinfo{ display:none}
.picshowlist{ display:none}
.lmname,.view{ display:none}
}
@media only screen and (max-width: 479px) {
header,article{ width:96%; margin:auto}
.logo{  width:100%;text-align:center}
nav{ width:100%}
.l_box{ display:none}
.r_box,.infosbox,.picsbox{ width:100%}
.pagelist a { padding: 2px 3px; margin:0}
.picbox ul{    width: 22%;}
.piclistshow ul li{ height:100px; padding:0}
.piclistshow .picimg{ height:100px}
.picbox ul li i{ margin:2px}
.picinfo{ display:none}
.picshowlist,.pictxt{ display:none}
.lmname,.view{ display:none}
.r_box li i{ float:none; margin:0 auto 20px; width:100%; max-height:150px}
}
.feedback_area_title {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #C93282;
    border-bottom: solid 2px #C93282;
    width: 798px;
    margin-top: 443px;
}
.feedbackItem {
    word-wrap: break-word;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 5px;
    padding:20px 20px 20px 25px;
    box-shadow: 0 0 5px #aaa;
    width:63.5%
}
.feedbackListSubtitle {
    font-weight: normal;
    font-size: 12px;
    color: #C93282;
}
.feedbackListSubtitle a {
    color: #C93282;
}
.comment_vote {
    text-align: right;
}
.feedbackNoItems{
    width:63.5%;
}
.speak{
    color: #C93282;
    margin: 10px;
}